mat-chip {
  background-color: transparent !important;
  border: 1px solid #2e7d32 !important;
}

.txt-chip {
  display: block;
  padding-left: 6px;
}

.order-summary-box {
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  padding: 32px;
}

.order-summary-box > h3 {
  font-size: 20px;
}

.os-desc {
  font-size: 16px;
}

.os-total {
  font-size: 20px;
  font-weight: 500;
}

.chip-summary {
  text-align: center;
}
