<h1 class="mb-5">{{ currentBook.id ? "Update" : "New" }} Book</h1>

<div class="row">
  <div class="col-12 col-sm-8">
    <div>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="mb-1 w-100">
          <!-- Title -->
          <mat-label>Title</mat-label>
          <input
            matInput
            (keyup)="createSlug()"
            type="text"
            formControlName="title"
          />
          <mat-error>
            <span
              inputError
              inputName="Title"
              [errors]="bookForm.get('title')?.errors"
            ></span>
          </mat-error>
        </mat-form-field>

        <!-- Slug -->
        <mat-form-field appearance="outline" class="mb-1 w-100">
          <mat-label>Slug</mat-label>
          <input matInput type="text" formControlName="slug" />
          <mat-error>
            <span
              inputError
              inputName="Slug"
              [errors]="bookForm.get('slug')?.errors"
            ></span>
          </mat-error>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="outline" class="mb-1 w-100">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description" />
          <mat-error>
            <span
              inputError
              inputName="Description"
              [errors]="bookForm.get('description')?.errors"
            ></span>
          </mat-error>
        </mat-form-field>

        <!-- Price -->
        <mat-form-field appearance="outline" class="mb-1 w-100">
          <mat-label>Price</mat-label>
          <input
            matInput
            type="number"
            formControlName="price"
            step="0.50"
            min="0"
            placeholder="0.00"
          />
          <mat-error
            ><span
              inputError
              inputName="Price"
              [errors]="bookForm.get('price')?.errors"
            ></span
          ></mat-error>
        </mat-form-field>

        <!-- Category -->
        <mat-form-field appearance="outline" class="col-12 mb-3">
          <mat-label>Category</mat-label>
          <mat-select required formControlName="categoryId">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
              >{{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error
            ><span
              inputError
              inputName="Category"
              [errors]="bookForm.get('categoryId')?.errors"
            ></span
          ></mat-error>
        </mat-form-field>

        <!-- Book cover -->
        <div class="mb-3">
          <label class="d-block mb-2">Book Cover</label>

          <button
            type="button"
            mat-raised-button
            (click)="coverInputFile.click()"
          >
            Upload File
          </button>

          <mat-error *ngIf="bookForm.controls['coverPath'].touched">
            <span
              inputError
              inputName="Book Cover"
              [errors]="bookForm.get('coverPath')?.errors"
            ></span>
          </mat-error>

          <input
            type="file"
            #coverInputFile
            (change)="uploadFile($event, 'coverPath')"
            class="d-none"
            accept="image/*"
          />

          <div *ngIf="bookForm.controls['coverPath'].valid">sss</div>
        </div>
      </form>

      <!-- Action buttons -->
      <div class="text-end mt-5">
        <button mat-button routerLink="/admin/books">Cancelar</button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
          class="ms-2"
        >
          {{ currentBook.id ? "Update" : "New" }} Book
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <mat-card>
      <!-- Img -->
      IMAGE
    </mat-card>
  </div>
</div>
