<mat-card class="book-card">
  <div>
    <img
      mat-card-image
      [src]="book.coverPath | safeImage"
      [alt]="book.title"
      class="pb-2"
    />

    <mat-card-content class="pb-3">
      <h4 class="pt-3">
        <a class="h4" [routerLink]="['/book', book.slug]">{{ book.title }}</a>
      </h4>
      <p>{{ book.description | slice : 0 : 100 }}...</p>
    </mat-card-content>
  </div>

  <span class="spacer"></span>
  <mat-divider></mat-divider>

  <!-- Action buttons -->
  <mat-card-actions class="end-card">
    <button
      mat-raised-button
      *ngIf="!existsBookInCart(book.id); else removeButton"
      (click)="addBookToCart(book)"
      color="primary"
      class="w-100"
    >
      <mat-icon>add_shopping_cart</mat-icon> Add to Cart
    </button>

    <ng-template #removeButton>
      <button
        mat-raised-button
        (click)="removeBookFromCart(book.id)"
        color="warn"
        class="w-100"
      >
        <mat-icon>remove_shopping_cart</mat-icon> Remove from Cart
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
